<div id="recipes-general_shopping_list" class="section-wrapper">
  <h1>Shopping List</h1>

  <% unless @missing_foods.empty? %>
    <div class="general-info">
      <p>Amount of items to buy: <span><%= @number_of_foods %></span></p>
      <p>Total value of food needed: <span>$<%= @total_price %></span></p>
    </div>

    <table class="ingredients">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @missing_foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food.quantity %></td>
            <td>$<%= food.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Congratulations! There is nothing you need to buy at this moment. You either have exactly as many items as you need or you have more.
  <% end %>
</div>
