<div id="recipes-public" class="section-wrapper">
  <div class="recipes-container">
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <div class="title-info">
          <h2><%= link_to recipe.name, recipe_path(recipe), class: 'heading-link' %></h2>
          <% if can? :destroy, recipe %>
            <%= button_to 'Remove', recipe_path(recipe), method: :delete, class: 'btn-link btn-remove' %>
          <% else %>
            <span class="author">By: <%= recipe.author.name %></span>
          <% end %>
        </div>
        <div class="budget-info">
          <p>Total food items: <%= recipe.recipe_foods.map { |rf| rf.quantity }.sum %></p>
          <p>Total price: $<%= recipe.recipe_foods.map { |rf| rf.food.price }.sum %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Add Recipe", new_recipe_path, class: "add-food-btn" %>
</div>
