<% content_for :javascript do %>
  <script defer>
    const leftClick = () => {
      let btn = document.querySelector('#btn')
      let submit = document.querySelector('form[action$=toggle_public] input[type=submit]')

      btn.style.left = '0'
      btn.addEventListener('transitionend', () => submit.click())
    }

    const rightClick =  () => {
      let btn = document.querySelector('#btn')
      let submit = document.querySelector('form[action$=toggle_public] input[type=submit]')
      
      btn.style.left = '9rem'
      btn.addEventListener('transitionend', () => submit.click())
    }
  </script>
<% end %>

<div id="recipes-show" class="section-wrapper">
  <h1><%= @recipe.name %></h1>

  <%= form_with(model: @recipe, url: toggle_public_recipe_path(@recipe), local: true) do |form| %>
    <div class="form-group">
      <div class="slider-container">
        <%# form.range_field :public, min: 0, max: 1, step: 1, class: 'slider' %>
        <div class="slider private-public-slider">
          <div class="button-box">
            <div id="btn" style="left: <%= (@recipe.public ? 1 : 0) * 9 %>rem"></div>
            <button type="button" class="toggle-btn" data-value="0" onclick="leftClick()">Public</button>
            <button type="button" class="toggle-btn" data-value="1" onclick="rightClick()">Private</button>
          </div>
        </div>
        <span class="info">
          This recipe is <span class="privacy"><%= @recipe.public ? 'public' : 'private' %><span>
        </span>
        <%= form.hidden_field :public, value: @recipe.public %>
      </div>
    </div>
    <%= form.submit 'Update' %>
  <% end %>

  <div class="info">
    <div>
      <h2>Preparation time:</h2> &#x1F551; 
      <span><%= duration_in_hours_and_minutes(@recipe.preparation_time) %></span>
    </div>
    <div>
      <h2>Cooking time:</h2> &#x1F551; 
      <span><%= duration_in_hours_and_minutes(@recipe.cooking_time) %></span>
    </div>
    <div>
      <h2>Description:</h2> <span><%= @recipe.description %></span>
    </div>
  </div>

  <div class="actions">
    <%= link_to 'Generate shopping list', general_shopping_list_path, class: 'btn-submit' %>
    <% if @recipe.author == current_user %>
      <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'btn-link' %>
    <% end %>
  </div>

  <hr>

  <table class="ingredients">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <% if @recipe.author == current_user %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <% if @foods.present? %>
      <tbody>
        <% @foods.each do |food| %>
          <% food_in_recipe = @recipe.recipe_foods.find { |rf| rf.food_id == food.id } %>
          <tr>
            <td><%= food.name %></td>
            <td><%= food_in_recipe.quantity %></td>
            <td>$<%= food_in_recipe.quantity.to_i * food.price %></td>
            <% if @recipe.author == current_user %>
              <td>
                <div class="actions">
                  <% recipe_food = food.recipe_foods.find { |rf| rf.recipe_id == @recipe.id } %>
                  <%= link_to 'Modify', edit_recipe_recipe_food_path(@recipe, recipe_food) %>
                  <%= button_to 'Remove', recipe_recipe_food_path(@recipe, recipe_food), class: 'btn-link', method: :delete %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
