<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :javascript %>
  </head>

  <body>
    <% if notice.present? || alert.present? %>
      <script>
        setTimeout(() => document.querySelector('#flash-section').classList.add('fadeOut'), 5000);
      </script>
      <div id="flash-section" class="<%= alert.present? ? 'alert' : 'notice' %>">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.present? %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    <% end %>

    <%= @navbar %>
    <%= yield %>
  </body>
</html>
